<!-- app/views/school_dashboard/index.html.erb -->

<h1>School Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Status</th>
      <th>Actions</th> <!-- Adding Actions header -->
    </tr>
  </thead>
  <tbody>
    <% @student_applications.each do |application| %>
      <tr>
        <td><%= "#{application.FirstName} #{application.LastName}" %></td>
        <td><%= application.status %></td>
        <td>
          <%= button_to 'Approve', approve_students_application_path(application), method: :patch, class: 'btn btn-success' %>
          <%= button_to 'Reject', reject_students_application_path(application), method: :patch, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
