<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <%= stylesheet_link_tag 'home' %>
</head>
<body>
  <nav class="nav-bar"> 
    <div>
      <h2>.</h2>
    </div>
    <div class = "nav-links">
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-secondary" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
    </div>
    </nav>
    <nav class = "nav-bar2">
        <div>
            <h2>Logo</h2>
        </div>
        <div class = "nav-links2">
            <a href = "#">About</a>
            <a href = "#">Contact</a>
        </div>
    </nav>

    <section class = "main-section">
         <h1>Hello</h1>
    </section>
</body>
</html>
