

.form-body {
    background-color: silver;

}
.my-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;

}
.studentsForm {
    background-color: white;
    padding: 3%;
    width: 70vw;
    display: flex;
    flex-direction: column;

}
.names-flex {
    display: flex;
    justify-content: space-between;
}
.fieldNew {
    display: flex;
    flex-direction: column;
}
.genderAndPhone {
    display: flex;
    justify-content: space-between;

}
.submit-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-buttons {
    border: blue;
    background-color: red;
    display: none;
}
.formses {
    border-top: none;
    border-left: none;
    border-right: none;
}
.formses:focus {
    outline: none; /* Remove the default focus outline */
    border-color: transparent;
}
.signupforms {
    width: 70%;
    background-color: white;
    padding: 1.5%;
    border: 2px solid #ccc; /* Add a subtle border */
    transition: transform 0.3s ease, border-color 0.3s ease;
    border-radius: 10px; /* Smooth transition for transform and border-color */
}

.signupforms:hover {
    transform: scale(1.02); /* Slightly enlarge the form on hover */
    border-color: #007bff; /* Change border color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

}
.my-form {
    width: 100%;
    background-color: #f3f3f3;
    
    
    
}
.my-form form {
   margin: 2%;
   padding: 2%;
   background-color: white;
   border: 2px solid #ccc;

}