
img.profile-picture.rounded-img {
    border-radius: 50%; /* This makes the image round */
    display: block;
    max-width: 400px; /* Adjust this value as needed */
    height: auto;
}

.profile-picture {
    border: 5px solid #f8f9fa; /* Light border for contrast */
}
.edit-img {
    width: 90%;
    margin-left: 1.5%;
}
.containerrr {
    background: linear-gradient(to bottom right, #313131, #1a1a1a);
    color: white;
    height: 90vh;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    
}

.container:hover {
    transform: scale(1.05); /* Adjust scale factor as needed */
}

.pp {
    overflow-y: hidden;
    background-color: rgb(240, 240, 240);
}
  
.vertical-line {
    border-left: 2px solid silver; /* Change 'silver' to 'white' if you prefer a white line */
    height: 100%;
}
.profile-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.geta {
    display: flex;
    gap: 15px;

}
.geta img {
    margin-top: 7px;
}